extends layout

block content
  h1 #{title}: #{book_instance.book.title}

  hr

  p Do you really want to delete this Book Instance of the <b>#{book_instance.book.title}</b> - by <i>#{book_instance.book.author.family_name}, #{book_instance.book.author.first_name}?

  form(method='POST' action='')
    div.form-group
      input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=book_instance._id )

    button.btn.btn-primary(type='submit') Delete